#thisOne{
	height:100%;
	width:100%;
}

#thisOne img{
	background-size: ;
	background-position: bottom left;
	background-repeat: no-repeat;
}

#inputBar{
	bottom:10px;
	position: fixed;
	z-index:100;
}

#title{
	font-family:'Pacifico', cursive;
	color:white;
   -webkit-text-stroke: 1px black;
}

.glyphicon-remove{
	cursor:pointer;
}

#count{
	float:right;
	position:relative;
	right:50px;
}